Microservicio2.json
{
  "nodes": [
    {
      "parameters": {
        "path": "7dd2c89a-0a86-4237-a9eb-0863a4d1bb00",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        0
      ],
      "id": "6d67543d-11b2-4c1b-92e2-043a8e9aaa68",
      "name": "Webhook",
      "webhookId": "7dd2c89a-0a86-4237-a9eb-0863a4d1bb00"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1840,
        -48
      ],
      "id": "65db8578-d317-4d3a-95f8-671b861412af",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "173a7d88-c6fa-4023-9d9e-b77034440283",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        288
      ],
      "id": "b3cd9ea3-40f5-47c4-8253-09dba17857db",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b2HfoLnPNXu8vZS5",
          "name": "Boostercamp"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"preguntas\": [\n    {\n      \"tipo\": \"desarrollo\",\n      \"pregunta\": \"texto de la pregunta\",\n      \"opciones\": [\"opcion 1\", \"opcion 2\"],\n      \"respuesta_correcta\": \"texto de la respuesta\",\n      \"explicacion\": \"texto de explicacion\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1120,
        288
      ],
      "id": "57de1cf5-b4a8-437b-b149-318c4f4d8ef1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4684471b-cd18-4289-97c1-582bb01ac3da",
              "name": "telefono",
              "value": "={{ $('Webhook').item.json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "e09e6479-ebd6-4a26-906c-680186e31fe5",
              "name": "preguntas",
              "value": "={{ $json.preguntas.flat() }}",
              "type": "array"
            },
            {
              "id": "06824b5f-3c11-4f15-b4c0-dde52298edf8",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -48
      ],
      "id": "900a8488-23f4-4741-80b8-3871cfa81f9e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.body.drive_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        0
      ],
      "id": "5082795d-e5c0-4c92-84cf-b2d084276ed0",
      "name": "Buscar documento",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C1KGBOIQCsQrJW1z",
          "name": "NickFr"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "cc80ad75-a2be-45fb-9f4b-28df8673b668",
      "name": "Extrear informacion"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el texto completo del nodo anterior.\n// IMPORTANTE: Fijate en el output de tu nodo anterior cómo se llama el campo que tiene el texto. \n// Suele ser \"text\", \"data\" o \"content\". Si no es \"text\", cambialo en la línea de abajo.\nconst textoCompleto = $input.first().json.text; \n\nif (!textoCompleto) {\n  return []; // Por si viene vacío, que no explote\n}\n\n// Cortamos el texto en bloques de 3000 caracteres (ideal para no saturar a la IA)\nconst fragmentos = textoCompleto.match(/[\\s\\S]{1,3000}/g) || [];\n\n// Transformamos cada pedazo en un Item nuevo para que n8n los procese en lote (Batch)\nreturn fragmentos.map(fragmento => {\n  return {\n    json: {\n      texto_fragmento: fragmento\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "792bccc4-09db-4e8e-b58b-6b482c21efd5",
      "name": "Parsear informacion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actuás como un profesor universitario experto en diseño de evaluaciones académicas.\nTu objetivo es leer un fragmento de texto de un apunte y generar preguntas de examen rigurosas basadas EXCLUSIVAMENTE en ese contenido.\n\nREGLAS ESTRICTAS:\n1. NO inventes información. Si el fragmento no contiene información suficiente, devolvé una lista vacía.\n2. Creá EXACTAMENTE entre 3 y 5 preguntas en total por este fragmento.\n3. Incluí una mezcla de tipos: \"multiple_choice\", \"verdadero_falso\" y \"desarrollo\".\n4. Para las preguntas de \"desarrollo\", el campo \"opciones\" debe quedar vacío, y en \"respuesta_correcta\" debés escribir una rúbrica o los puntos clave que el alumno tiene que mencionar.\n5. Para las preguntas de \"multiple_choice\" y \"verdadero_falso\", completá las \"opciones\" y marcá la correcta en su campo correspondiente.\n6. Siempre incluí una \"explicacion\" breve del criterio o la justificación.\n\nFRAGMENTO DE TEXTO A ANALIZAR:\n{{ $json.texto_fragmento }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        64
      ],
      "id": "a0e617b9-a71c-4b62-8392-ab97f9f8cc8e",
      "name": "IA Generador de preguntas"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "Bot Whapp",
        "updateKey": "telefono",
        "fields": "preguntas, timestamp",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1536,
        -48
      ],
      "id": "7b44c60e-a9d7-44ef-aa1c-04f4b773827b",
      "name": "Cargar preguntas en la BD",
      "credentials": {
        "mongoDb": {
          "id": "Hb67eBr3ICdFSTge",
          "name": "Mongo Nico"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output.preguntas",
              "renameField": true,
              "outputFieldName": "preguntas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        944,
        -48
      ],
      "id": "d0b389e5-47ca-42c6-9a74-696d982368b7",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA Generador de preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA Generador de preguntas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "IA Generador de preguntas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Cargar preguntas en la BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar documento": {
      "main": [
        [
          {
            "node": "Extrear informacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrear informacion": {
      "main": [
        [
          {
            "node": "Parsear informacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear informacion": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Generador de preguntas": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar preguntas en la BD": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e32504f9a8817c896d4d37219099e0711e6952633709227e55b425d6b54bd63"
  }
}
