Microservicio5.json
{
  "nodes": [
    {
      "parameters": {
        "collection": "Bot Whapp",
        "options": {},
        "query": "={ \"telefono\": \"{{ $json.body.telefono }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "id": "8be49a32-6940-4f7e-9d07-52f385683df3",
      "name": "Buscar Preguntas Actuales",
      "position": [
        -176,
        -112
      ],
      "credentials": {
        "mongoDb": {
          "id": "Hb67eBr3ICdFSTge",
          "name": "Mongo Nico"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actuás como un editor pedagógico. Tu trabajo es modificar un examen existente según el feedback del profesor.\n\nPREGUNTAS ACTUALES (Borrador a modificar):\n{{ JSON.stringify($node[\"Buscar Preguntas Actuales\"].json.preguntas) }}\n\nFEEDBACK DEL PROFESOR:\n{{ $node[\"Webhook1\"].json.body.feedback }}\n\nTAREA:\n1. Analizá el feedback.\n2. Si pide cambiar una pregunta, reescribila.\n3. Si pide borrar, eliminala del array.\n4. Si pide agregar, inventá una nueva coherente con el estilo.\n5. Devolvé SIEMPRE el array de 'preguntas' completo y actualizado.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        -112
      ],
      "id": "b22b489d-a670-4304-98a8-092c2e0c8e00",
      "name": "AI Editor de Examen"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -48,
        96
      ],
      "id": "a2ee7826-6dc0-43f7-9aa4-fd651837e672",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "b2HfoLnPNXu8vZS5",
          "name": "Boostercamp"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"preguntas\": [\n    {\n      \"tipo\": \"desarrollo\",\n      \"pregunta\": \"Escribí aquí el texto de la pregunta generada o modificada.\",\n      \"opciones\": [\n        \"Opción A\",\n        \"Opción B\"\n      ],\n      \"respuesta_correcta\": \"Rúbrica de lo esperado o la opción correcta.\",\n      \"explicacion\": \"Justificación de por qué esta es la respuesta o qué se evalúa.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        112
      ],
      "id": "56cb4528-7286-4000-8539-2ef2048ec063",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "Bot Whapp",
        "updateKey": "telefono",
        "fields": "preguntas, timestamp",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        624,
        -112
      ],
      "id": "e6160bfc-c9f1-451a-b540-60a2638995a1",
      "name": "Actualizar Examen",
      "credentials": {
        "mongoDb": {
          "id": "Hb67eBr3ICdFSTge",
          "name": "Mongo Nico"
        }
      }
    },
    {
      "parameters": {
        "path": "c4d5840e-b9d5-442a-93c2-9c6be24a6bab",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -112
      ],
      "id": "987acad5-454b-44ef-879a-539e2a6c361e",
      "name": "Webhook1",
      "webhookId": "c4d5840e-b9d5-442a-93c2-9c6be24a6bab"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        -112
      ],
      "id": "12a8acff-4273-41ef-83fa-b6ec83a54603",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "131a7c63-688b-4d2c-96fb-898f25ab7619",
              "name": "telefono",
              "value": "={{ $('Webhook1').item.json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "464fed59-d2c5-40ed-92a7-0a3d8906b946",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "d8c9a1a9-a695-46d3-bf6a-b68b2c1c75f3",
              "name": "preguntas",
              "value": "={{ $json.output.preguntas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -112
      ],
      "id": "765d0ab7-15ab-4307-89fc-002f6cc901dd",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Buscar Preguntas Actuales": {
      "main": [
        [
          {
            "node": "AI Editor de Examen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Editor de Examen": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Editor de Examen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Editor de Examen",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Examen": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Buscar Preguntas Actuales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Actualizar Examen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9e32504f9a8817c896d4d37219099e0711e6952633709227e55b425d6b54bd63"
  }
}
