Microservicio3.json
{
  "nodes": [
    {
      "parameters": {
        "path": "47ba1482-d285-4c08-8d0a-d199bef58732",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "11ec4f09-3455-4031-b118-da4c13f356f9",
      "name": "Webhook",
      "webhookId": "47ba1482-d285-4c08-8d0a-d199bef58732"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        0
      ],
      "id": "eed6fc3f-4785-45ef-8d89-9d2d4eff3b1f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "beadaa28-5c0e-45f6-9ae8-e27cf71b46b2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b2HfoLnPNXu8vZS5",
          "name": "Boostercamp"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"evaluacion\": [\n    {\n      \"nro_pregunta\": 1, \n      \"pregunta\": \"texto\",\n      \"estado\": \"APROBADO\",\n      \"feedback\": \"Breve explicación pedagógica\",\n      \"respuesta_correcta\": \"Solo si desaprobó, mostrar la correcta\"\n    }\n  ],\n  \"mensaje_para_usuario\": \"Texto amigable resumiendo lo corregido y animando a completar las que faltan.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        192
      ],
      "id": "64813233-25cb-485f-8bc7-a28a218a636b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sos un Profesor Virtual de la UTN experto en corrección de exámenes.\n\nINSTRUCCIÓN DE HERRAMIENTA:\nDEBÉS llamar a la herramienta para buscar las respuestas (ej: \"Call 'Sub flujo'\") pasándole el parámetro 'drive_id' proporcionado para obtener los datos correctos del examen. No inventes las preguntas ni las respuestas, usá siempre la información que te devuelve la herramienta.\n\nDATOS DE ENTRADA:\n- ID del archivo: {{ $json.body.drive_id }}\n- Respuestas del alumno: {{ $json.body.respuestas }}\n\nLÓGICA DE EVALUACIÓN:\n1. Compará cada respuesta del alumno con el campo 'respuesta_correcta' devuelto por la base de datos.\n2. Si el alumno respondió \"La 1 es...\", buscala en el índice 0 del array de preguntas.\n3. Ignorá las preguntas que el alumno no intentó responder.\n\nFORMATO DE SALIDA (ESTRICTO JSON):\nDevolvé ÚNICAMENTE un objeto JSON válido. No agregues texto antes ni después.\n{\n  \"evaluacion\": [\n    {\n      \"nro_pregunta\": 1,\n      \"pregunta\": \"texto\",\n      \"estado\": \"APROBADO\" o \"DESAPROBADO\",\n      \"feedback\": \"explicación breve\",\n      \"respuesta_correcta\": \"valor o N/A\"\n    }\n  ],\n  \"mensaje_para_usuario\": \"Resumen amigable\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "fd7d241e-e95d-465b-a982-7d710331f275",
      "name": "IA correccion examenes"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rELbhElqVIJXTmKl",
          "mode": "list",
          "cachedResultUrl": "/workflow/rELbhElqVIJXTmKl",
          "cachedResultName": "Sub flujo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "drive_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('drive_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "drive_id"
          ],
          "schema": [
            {
              "id": "drive_id",
              "displayName": "drive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        544,
        224
      ],
      "id": "6972ddc7-cb88-4416-a9c9-3d5f3c03bf6d",
      "name": "Call 'Sub flujo'"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IA correccion examenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA correccion examenes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "IA correccion examenes",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "IA correccion examenes": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sub flujo'": {
      "ai_tool": [
        [
          {
            "node": "IA correccion examenes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e32504f9a8817c896d4d37219099e0711e6952633709227e55b425d6b54bd63"
  }
}
